
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  font-size: 15px;
  position:relative;
  bottom:0;
  width:100%;
  text-align: center;
  line-height: 40px;
}

#App_Title {
  height: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

#search_section {
 display: flex;
 flex-direction: column;
 padding: 0 200px;
}

.search-form {
  display: flex;
  position: relative;
}

#search_field {
  flex: 6;
  height: 80px;
  vertical-align: bottom;
  border: none;
}

#search_btn {
  height: 80px;
  font-size: 30px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  font-weight: 500;
}

.search_input {
  font-size: 32px;
  border: 0;
  padding: 0;
  padding-left: 5px;
  border-radius: 6px;
}

.search-results {
  margin-top: 5px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
  background:white;
  opacity: 90%;
}

.search-preview {
  background: white;
  color: black;
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
  height: 40px;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.search-preview:hover {
  background: #efefef;
  cursor: pointer;
}

#recommendation_btn {
  height: 60px;
  text-align: center;
  font-size: 25px;
}

#my_movies_section {
  width: 100%;
}

#recommend_section {
  width: 100%;
}

.list_of_my_movies{
  width: 80%;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: initial;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-top: 0;
}

.list_of_recommendeds{
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  text-align: center;
}

.list_item {
 margin-right: 20px;
 margin-top: 10px;
}

.recommended_item {
  margin: 10px;
  padding: 0;
 }

.app_title {
  font-size: 120px;
  line-height: 1.0;
}

.description {
  font-size: 20px;
}

.btn_remove {
  margin: 0;
}

.recommended_img {
  height: 200px;
  width: 165px;
}

.recommended_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 165px;
}

.list-item {
  display: inline-block;
  left: 0px;
  color: aqua;
  width: 100%;
  height: 90%;
  align-items: center;
}

.list-item ul {
  height: 300px;
  color: aliceblue;
  list-style-type: none;
}

.list-item li {
  padding-left: 5px;
  margin-top: 20px;
}

.list-item ul a {
  text-align: center;
  color: aliceblue;
}

.section_title {
  font-size: 20px;
  font-weight: 400;
}