@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.App {
  text-align: center;
}

@media (max-width: 576px) {
  .App {
    padding: 0 0.9375rem;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  justify-content: center;
  color: white;
  margin: 1.875em auto;
}

@media (max-width: 36rem) {
  .App-header > img {
    height: 25vh;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  font-size: 0.9375em;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
}

#App_Title {
  margin: 1.875rem auto;
}

@media (max-width: 36rem) {
  #App_Title {
    text-align: left;
  }

  #App_Title h1 {
    font-size: 3em;
  }
}

#search_section {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48rem) {
  #search_section {
    padding: 0 12.5rem;
  }
}

.search-form {
  display: grid;
  grid-template-columns: 6fr 1fr;
  position: relative;
}

#search_field {
  height: 80px;
  vertical-align: bottom;
  border: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#search_btn {
  height: 80px;
  font-size: 30px;
  margin: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.search_input {
  border: 0;
  padding: 0;
  padding-left: 5px;
  border-radius: 6px;
  font-size: 1.125em;
}

@media (min-width: 48rem) {
  .search_input {
    font-size: 2em;
  }
}

.search-results {
  margin-top: 5px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
  background: white;
}

.search-results-p {
  display: grid;
}

@media (min-width: 48rem) {
  .search-results-p {
    grid-template-columns: 6fr 1fr;
  }
}

.search-preview {
  background: white;
  color: black;
  text-align: left;
  padding-left: 5px;
  font-size: 20px;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.search-preview:hover {
  background: #efefef;
  cursor: pointer;
}

#recommendation_btn {
  height: 60px;
  text-align: center;
  font-size: 25px;
}

#my_movies_section {
  width: 100%;
}

#recommend_section {
  width: 100%;
}

.list_of_my_movies {
  width: 80%;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: initial;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-top: 0;
}

.list_of_recommendeds {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style-type: none;
  text-align: center;
  justify-content: center;
}

.list_item {
  margin-right: 20px;
  margin-top: 10px;
}

.recommended_item {
  margin: 10px;
  padding: 0;
}

.app_title {
  font-size: 4em;
  line-height: 1;
}

.description {
  font-size: 20px;
}

.btn_remove {
  margin: 0;
}

.recommended_img {
  height: 200px;
  width: 165px;
}

.recommended_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 165px;
}

.list-item {
  display: inline-block;
  left: 0px;
  color: aqua;
  width: 100%;
  height: 90%;
  align-items: center;
}

.list-item ul {
  height: 300px;
  color: aliceblue;
  list-style-type: none;
}

.list-item li {
  padding-left: 5px;
  margin-top: 20px;
}

.list-item ul a {
  text-align: center;
  color: aliceblue;
}

.section_title {
  font-size: 20px;
  font-weight: 400;
}

#platform,
#recommended,
#recommendation_btn {
  visibility: hidden;
}

.title {
  margin: 0.625rem auto;
}
