.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  font-size: 15px;
  position:absolute;
  bottom:0;
  width:100%;
  text-align: center;
  line-height: 40px;
}

#App_Title {
  height: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

#search_section {
 height: 80px;
}

#search_field {
  width: 70%;
  height: 100%;
  vertical-align: bottom;
  border: none;
}

#search_btn {
  width: auto;
  height: 100%;
  font-size: 25px;
}

.search_input {
  font-size: 32px;
  border: 0;
  padding: 0;
  padding-left: 5px;
  border-radius: 6px;
}

#recommendation_btn {
  width: 200px;
  height: 40px;
  text-align: center;
}

#my_movies_section {
  width: 100%;
}

.list_of_my_movies{
  width: 80%;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: initial;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin-top: 0;
}

.list_item {
 margin-right: 20px;
 margin-top: 10px;
}

.app_title {
  font-size: 120px;
  line-height: 1.0;
}

.description {
  font-size: 20px;
}

.btn_remove {
  margin: 0;
}
